<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    
    <title>Pintos LTDA </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">Pintos LTDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Contra-Cheque", site_welcome_index_path, class: "nav-link" %>
                </li>
            </ul>

             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%=  link_to "Incluir Usuário", new_site_user_path, class: "nav-link" %> 
                </li>
            </ul>
       

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Sair", site_welcome_destroy_path(params[:username],params[:password]), method: :delete, data: { confirm: 'Tem Certeza?' }, class: "nav-link" %>
                </li>
            </ul>

        </div>
    </div>
</nav>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header">Dados dos Usuários</div>
                    <div class="card-body">
                        
                             <div class="row-center">

                             <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong><%= flash_message %></strong> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>

                                    
                                     <%= form_with(url: site_search_path ,local: true, method: :get, class: 'form-group') do |form| %>

                                     
                                        <%= form.text_field :term , placeholder: 'Informe o código de acesso , para consulta ... ', class: 'form-control'%> 
                                        
                                        <%= form.submit "Pesquisar", class: 'btn btn-primary'%>
                                        <% end %>

                                  

                                 <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th scope="col">ID</th>
                                          <th scope="col">ACESSO</th>
                                          <th scope="col">CHAPA</th>
                                          <th scope="col">PASSWORD</th>
                                          <th scope="col">Ações</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                       <% @users.each do |user|%>
                                        <tr>
                                          <th scope="row"><%= user.id %></th>
                                          <td> <%= user.acesso %></td>
                                          <td><%= user.chapa %></td>
                                          <td>  <%#= user.password%></td>
                                          <td style="width: 100px">
                                          <%= link_to 'editar' ,edit_site_user_path(user), class:"btn btn-primary btn-circle" %>
                                             <i class="fa fa-edit"></i>
                                            <%# end %>
                                          </td>
                                        </tr>
                                      </tbody>
                                      <% end %>
                                    </table>
                                    <p class="text-center"> <%#= paginate @users %>  </p>
                                </div>
                          </div>
                     </div>
                 </div>
             </div>
</main>
   
</body>
</html>
