<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
     

    <link rel="icon" href="Favicon.png">


    <title>Painel Administrativo</title>
</head>
<body>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><strong> <h3> Listando Usuários </h3> </strong>  </div>
                    <div class="card-body">
                          <div class="alert alert-success alert-dismissible fade show" role="alert" id="notice">
                              <strong> <%= notice %> </strong>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                       <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                          <tr>
                                           <th>#</th>
                                           <th>Acesso</th>
                                           <th>Chapa</th>
                                           <th>Senha</th>
                                           <td style="width: 100px">
                                          <%= link_to new_site_user_path, class:"btn btn-success btn-circle" do %>
                                          <i class="fa fa-plus"></i>
                                          <% end %>
                                          </td>
                                         </tr>
                                       </thead>
                                         <tbody>
                                         <%# @users.each do |user| %>
                                          <tr>
                                          <td><%= @user.id %></td>
                                          <td><%= @user.acesso %></td>
                                          <td><%= @user.chapa %></td>
                                          <td><%= @user.password %></td>
                                          <td style="width: 100px">
                                          <%= link_to site_users_path(@user), class:"btn btn-primary btn-circle" do %>
                                             <i class="fa fa-mail-reply"></i>
                                            <% end %>
                                          </td>
                                          <td style="width: 100px">
                                          <%= link_to edit_site_user_path(user), class: "btn btn-warning btn-circle" do %>
                                          <i class="fa fa-minus"></i>
                                          <% end %>
                                          </td>
                                          
                                          </tr>
                                          <%# end %>
                                          </tbody>
                                          </table>
                                            
                                             <%#= paginate @users, class: 'text-center' %>
                                           
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

   
</main>

 





</body>
</html>
