<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PINTO LTDA</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <style>
    body{
      font-family: 'Titillium Web', sans-serif;
      color: #666666;
      text-align: center;
    }
    .box{
      background-color: #fff;
      width: 500px;
      margin: 50px auto;
    }
    #title {
      font-size: 30px;
      margin-top: 25px;
    }
    #descricao{
      font-size:20px;
      margin: 20px auto;
    }
    #logo {
      margin-top: 25px;
      max-width: 365px;
      height: auto;
    }
    #logo-task {
      width: 75px;
    }
  </style>
</head>
<body>
  <div class="box">
    <img class="mb-4" src="https://www.oster.com.br/arquivos/_OSTERBRASIL_campanha-natal-2017-pintos.png" alt="" width="250" height="100">
    <div id="title">
      SITE EM MANUTENÇÃO
    </div>
    <div id="descricao">
      Estamos fazendo alguns ajustes e já voltamos.<br>
    </div>
    <a href="http://task.com.br" target="_blank">
    </a>
  </div>
</body>
</html>