 <!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    
    <title>Pintos LTDA </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">Pintos LTDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuários
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
           <%= link_to "Visualizar Usuários", site_users_index_path, class: "dropdown-item" %>
           <%= link_to "Cadastrar Nova Senha", edit_site_user_path(@user), class: "dropdown-item" %>
        
           </div>
         </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Sair", site_welcome_destroy_path(params[:username],params[:password]), method: :delete, data: { confirm: 'Tem Certeza?' }, class: "nav-link" %>
                </li>
            </ul>

        </div>
    </div>
</nav>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header">Consulte Seu Contra-Cheque</div>
                    <div class="card-body">
                        <%= form_tag site_welcome_index_path do %>
                             <div class="row-center">
                             <p> <span> Data: </span> <%= data_br(Date.today)%> </p>
                             <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong><%= flash_message %></strong> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                <div class="col-center">
                                    <label> CHAPA: </label>
                                        <%#= text_field_tag :chapa , "", class: 'form-control', placeholder: "#{@user.try(:chapa)}" , readonly: true%>
                                       <input class="form-control" type="text" placeholder="<%= @user.try(:chapa) %>" readonly> 
                                            </div>
                                               <div class="col-center">
                                         <label> MÊS: </label>
                                         <%= text_field_tag :mes , "", class: 'form-control', placeholder: "EX. MÊS = 01 "%> 
                                            </div>
                                               <div class="col-center">
                                        <label> ANO:  </label>
                                        <%= text_field_tag :ano , "", class: 'form-control', placeholder: "EX. ANO= 2020 "%> 
                                            </div>
                                               <div class="col-center">

                                        <%= submit_tag "Enviar" , class: 'btn btn-primary' , data: { disable_with: ' Gerando Contra-Cheque ... AGUARDE ! ' } %>
                                            </div>     
                                            </div>
                                        <% end %>
                                </div>
                          </div>
                     </div>
                 </div>
             </div>
</main>
<div class="container">  
            
    <% if @results.present? %>
 
      <iframe src="data:application/pdf;base64,<%=@results%>" height="842" width="842"></iframe>

     <% end %> 
</div>

</body>
</html>
